<div class='conainer-fluid d-flex flex-row vh-100 bg-dark'>
    <div class="col-2 vh-100 d-flex justify-content-center align-items-center text-center my-auto">
        <%= link_to "Home", user_path(current_user), class: "btn btn-info"%>
    </div>

    <div class="col-10 vh-100 d-flex justify-content-center align-items-center bg-light p-0">
        <div class="task-window p-3">
            <p> <%= @task.title %> <p>
            <p> Due date: <%= @task.time_remaining %> </p>
            <p> Descriptions </p>
            <% unless @task.descriptions.nil? %>
                <div class='task-descriptions-container container-fluid d-flex flex-column bg-light rounded'>
                    <% @task.descriptions.each do |desc| %>
                        <p class='task-description my-auto d-flex flex-column align-items-start border-bottom rounded'><%= desc.content %> </p>
                    <% end %>
                </div>
            <% end %>
            <%= link_to "Add description", new_description_path(descriptable_id: @task.id, descriptable_type: @task.class) %>
        </div>
    </div>
</div>