<div class="container-fluid d-flex flex-row vh-100 bg-dark">
    <div class="col-2 vh-100 d-flex justify-content-center align-items-center text-center my-auto">
        <%= link_to "Home", user_path(current_user), class: "btn btn-info"%>
    </div>
    <div class='col-10 vh-100 col-10 bg-light py-5'>
        <div class="grid-pattern border-bottom d-flex flex-row mb-3">
            <div class="col-4 border-right">Title</div>
            <div class="col-3 border-right">Status</div>
            <div class="col-2 border-right">Created:</div>
            <div class="col-2">Due date</div> <br>
        </div>
        <%= link_to 'new task', new_project_task_path(@project)%>
        <% @tasks.each do |task| %>
            <%= link_to project_task_path(@project, task), class: 'task-card' do%>
                <span class='d-flex flex-row'>
                   <p class='task-title col-4 my-auto'> <%= "#{ task.title }"  %> </p>
                   <p class='task-title col-3 my-auto'> <%= "#{ task.title }"  %> </p>
                   <p class='task-title col-3 my-auto'> <%= "#{ task.created_at }"  %> </p>
                   <p class='task-title col-2 my-auto'> <%= "#{ task.time_remaining}"%> </p>
                </span>
            <% end %>
        <% end %>
    </div>
</div>
